*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.js linguist-language=Java
*.css linguist-language=Java
*.html linguist-language=Java
